<nav class="dash-menu">
  <a class="dash-item" routerLink="/profile" routerLinkActive="active">
    {{ 'sidebar.profile' | translate }}
  </a>

  <a class="dash-item" routerLink="/quests" routerLinkActive="active">
    {{ 'sidebar.quests' | translate }}
  </a>

  <a class="dash-item" routerLink="/community" routerLinkActive="active">
    {{ 'sidebar.community' | translate }}
  </a>

  <a class="dash-item" routerLink="/ranking" routerLinkActive="active">
    {{ 'sidebar.ranking' | translate }}
  </a>

  <a class="dash-item" routerLink="/settings" routerLinkActive="active">
    {{ 'sidebar.settings' | translate }}
  </a>

</nav>
